@mixin chip_btn($width: 100%) {
    width: $width;
    display: block;
    background: -webkit-linear-gradient(top, #fea19c, #ff8882);
    text-align: center;
    color: #fff;
    line-height: 40px;
         font-size:18px;
}

.mod_btn {
    @include chip_btn();
}

.mod_btn{
    @include chip_btn();
    height:52px;
    line-height:52px;
    position: fixed;
	bottom: 0;
	left: 0;

}

$color_pink:#ff7f79;