//慢旅行
.m_lv{
	@include bg_icon1;
    background-position: 0 -250px;
    width:75px;
    height:25px;
    display:inline-block;
vertical-align: middle;
    text-indent:-999em;


}

.mod_pic{ 
	width:100%;
	position:$pr;
	img{
		width:100%;
		height:228px;
	}
	margin-bottom:2px;
	.linked_icon,.link_icon{
		@include bg_icon1;
	   	width:27px;
   		height:22px;
   		position:$ps;
   		right:16px;
   		top:14px;	
	}
	.linked_icon{ 
   		background-position: -107px 0;

	}
	.link_icon{ 
   		background-position: -107px -22px;

	}

}
.mod_pic1 {
	.pic_info{
		@include center(114px,114px);
		background:rgba(1,1,1,0.3);
		@include border-radius2(57px);
		text-align:center;
		color:$color_white;
		.icon_1{
			@include bg_icon1;
   			 background-position: -37px -139px;
   			 width:37px;
   			 height:23px;
   			 display:block;
   			 margin:18px auto 0 auto;
		}
		.icon_2{
			@include bg_icon1;
   			 background-position: -36px -167px;
   			 width:26px;
   			 height:23px;
   			 display:block;
   			 margin:18px auto 0 auto;
		}
		.icon_3{
			@include bg_icon1;
   			 background-position: 0 -169px;
   			 width:26px;
   			 height:23px;
   			 display:block;
   			 margin:18px auto 0 auto;
		}
		p{ 
			font-size:26px;
		}
		span:nth-of-type(2){
			font-size:16px;
		}
	}
}

.mod_pic2 {
	.sale_icon{
		position:$ps;
		width:58px;
		height:58px;
		@include border-radius2(29px);
		right:20px; 
		top:30px;
		background:white;
		font-family:arial;
		font-size:20px;
		color:#fd7e75;
		font-weight:700;
		line-height:57.5px;
		text-shadow: #ff605a 0 1px 0;
	}
	.pic_info{
		@include center(140px,50px);
		p{
			font-size:34px;
			color:$color_white;
		}
		span{
			@include border-radius2(10px);
			background:rgba(1,1,1,0.5);
			line-height:20px;
			padding:0 15px;
			display:inline-block;
			color:$color_white;
		}
	}
}

.mod_pic_pirce{
	height:60px;
	padding-left:20px;
	position:$pr;
	span{
		color:#858384;
		font-size:20px;
	}
	p{
		color:#adafae;
		font-size:17px;
	}
	.sale_nums{
		position:$ps;
		width:58px;
		height:58px;
		@include border-radius2(29px);
		background:#fd7d74;
		right:26px;
		top:-29px;
		sup,sub{
			position:$ps;
			font-size:26px;
			font-family:"arial";
			color:$color_white;
			text-shadow: #ff605a 0 1px 0;
		}
		sup{
			position:$ps;
			left:10px;
		}
		sub{
			position:$ps;
			right:10px;
			bottom:2px;
		}
	}
	.sale_nums:after{
		content: " ";
		@include center(40px,1px);
		transform:rotate(-64deg); 
		-webkit-transform:rotate(-64deg);
		background:white;

	}
}
.mod_pic3{
	margin-bottom:0;
}
.mod_pice_3{
	background:#494b5a;
	span{
		color:$color_white;
	}
	.sale_nums{
		line-height:58px;
		color:$color_white;
		text-align:center;
		font-size:17px;
	}
	.sale_nums:after{
		display:none;
	}
}

.themes_selt{
	position:$pst;
}
.themes_icon{
	@include bg_icon1;
		background-position: -74px -89px;
		width:16px;
		height:15.5px;
		display:inline-block;
		margin-right:5px;
		vertical-align: middle; 
}
.themes_box{
	background:rgba(0, 0, 0,0.7);
	color:$color_white;
	position:fixed;
	left:0;
	bottom:0;
	h3{
		padding:0 28px;
		height:45px;
		line-height:45px;
		border-bottom:white solid 1px;
		text-align:center;
	}
	.themes_itmes{
		margin:15px 50px;
		overflow:hidden;
		label{
			width:50%;
			float:left;
			text-align:left;
			margin-bottom:10px;
			input{
				width:50%;
				text-align:center;
				-webkit-appearance: none;
				  appearance: none;
				  position: relative;
				  width: 15px;
				  height: 15px;
				  background: #979797;
				  border: none;
				  color: #fff;
				  cursor: pointer;
				  display: inline-block;
				  outline: none;
				  position: relative;
				  border:white solid 1px;
				  @include border-radius2(7.5px);
				  margin-right:20px;
			}
			input:checked{
				background:#fd7d74;
			}

		}

	}
}

.ok_icon{
	@include bg_icon1;
	background-position: -74px -107px;
	width:12px;
	height:9px;
	display:inline-block;
	vertical-align:2px;
	margin-right:5px;
}
.themes_btns{
	background:rgba(253,125,116,0.7)
}

// 野奢帐篷酒店
            
.hd_link_btn:after{
	content :"";
	@include bg_icon1;
	background-position: -107px -48px;
	height: 20px;
	width: 18px;
	position: absolute;
	margin: 13px 0 0 8px;
}
.fouse_box{
	width:100%;
	height:117px;
	overflow:hidden;
	position:$pr;
	ul{
		width:100%;
		height:117px;
		li{
			width:100%;
			height:117px;
			position:$pr;
			background:#798021;

			img{
				width:320px;
				height:117px;
				display:block;
				margin:0 auto;
			}
			.fouse_price{ 
				position:$ps;
				left:10px;
				bottom:0px;
				color:$color_white;
				font-size:25px;
				em{
					font-size:15px;
				}
			}
			.fouse_link{
				position:$ps;
				right:10px;
				bottom:5px;
				color:$color_white;
				font-size:15px;
				em{
					@include bg_icon1;	
					background-position:-136.5px -23.5px;
					width:17px;
					height:13px;
					display:inline-block;
					vertical-align:middle;
					margin-right:5px;
				}
			}
		}
	}
	.fouse_l{
		@include bg_icon1;
		background-position: -72px -118px;
		width:18px;
		height:20px;
		display:block;
		position:$ps;
		top:50%;
		left:10px;
		margin-top:-10px;
		text-indent:-999em;

	}
	.fouse_r{
		@include bg_icon1;
		background-position: -74px -138px;
		width:18px;
		height:20px;
		display:block;
		position:$ps;
		top:50%;
		right:10px;
		margin-top:-10px;
		text-indent:-999em;
	}
}

.trip_info{
	height:73px;
	background:#f0f0f2;
	border-bottom:#f5f5f5 solid 1px;
	padding:10px;
	font-size:10px;
	h3{
		color:#6e6a6b;
	}
	p{
		color:#6c6a6b;
		line-height:15px;
	}
}
.trip_step{
	text-align:right;
	border-bottom:#f0f0f0 solid 1px;
	padding:15px 10px;
	color:#bfbfbf;
	label{
		width:100px;
		float:left;
		text-align:left;
	}
	span{
	    display:inline-block;
	}


}
.trip_icon1,.trip_icon2,.trip_icon3{
	@include bg_icon1;
	display:inline-block;
	vertical-align:-4px; margin:0 5px;
}
.trip_icon1{
	background-position:-97px -87.5px;
	width:20px;
	height:20px;
}
.trip_icon2{
	background-position:-97px -110px;
	width:18px;
	height:24px;
}
.trip_icon3{
	background-position:-97px -138px;
	width:19px;
	height:16px;
}
.feature_info{ 
	clear:both;
	text-align:left;
	line-height:20px;
	margin-top:18px;
	overflow:hidden;
}

.trip_btns{ 
	margin:30px 0;
	text-align:center;
	span{
		@include border-radius2(10px);
		border:#e1e1e1 solid 1px;
		color:$color_pink;
		height:45px;
		line-height:45px;
		width:122px;
		display:inline-block;
		font-size:25px;
	}
}

.trip_itmes{
	overflow:hidden;
	dt{
		height:40px;
		border-bottom:#fff solid 1px;
		background:#f0f0f2;
		line-height:40px;
		text-align:center;
		position:$pr;
		color:#bfbfc1;
		font-size:16px;
	}
	dt:after{
		content:" ";
		position:$ps;
		@include bg_icon1;
		display:inline-block;
		background-position:-137px -49px;
		width:6px;
		height:5px;
		top:50%;
		margin-top:-3px;
		right:10px;

	}
	dd{
		display:none
	}
}
.trip_itmes_block{
	dt{
		color:#848484;
	}
	dt:after{
		background-position:-136px -56px;


	}
	dd{
		display:block;
	}
}

.friendly_tips{
	padding:10px 15px;
	h3{
		text-align:center;
		color:$color_pink;
		margin-bottom:15px;
	}
	p{
		color:#c0c0c0;
		line-height:15px;
	}
}

.talk_btn{
	background:url(images/talk.jpg) no-repeat 0 0;
	background-size: 115px 116.5px;
	width:115px;
	height:116.5px;
	display:block;
	margin:15px auto;
}

.mod_pice_4{
	height:auto;
	padding:10px;
	.sale_nums{
		line-height:23px;
		padding-top:5px;
		height:53px;
	}
	span{
		font-size:15px;
		color:$color_pink
	}
	p{
		font-size:10px;
		color:#a1a3b8
	}
}

.trip_hotel_items{
	overflow:hidden;
	dd{
		background:#494b5a;
		border-top:white solid 1px;
		text-align:center;
		color:$color_white;
		padding:15px 0;
		color:#bfbfbf;
		font-size:15px;
	}
	.day_btns{
		font-size:22px;
		color:$color_pink;
		height:42px;
		border:white solid 1px;
		border-radius:10px;
		padding:0 10px;
		width:30%;
		line-height:42px;
		display:inline-block;
		margin:5px 0
	}
	.day_btns:nth-of-type(1){
		margin-right:5%
	}
}

.icon_hotel,.icon_mean{
	@include bg_icon1;
	display:inline-block;

}
.icon_hotel{
	width:18px;
	height:16px;
	background-position:-74px -159px;
}
.icon_mean{
	width:16px;
	height:19px;
	background-position:-72px -176px;
}
.place_itmes{
	.mod_pic{
		margin-bottom:0;
		span{
			position:$ps;
			top:50%;
			text-align:center;
			display:block;
			color:$color_white;
			font-size:16px;
			width:100%;
			margin-top:-4px;
		}
	}
	.mod_pic img{
		height:210px;
	}
	.mod_pic_pirce{
		height:47px;
		line-height:47px;
		background: -webkit-linear-gradient(top, #494b5a, #383643);
		border-top:#5d5f6c solid 1px;
		text-align:center;
		font-size:19px;
		color:$color_white;
		.flog_1,.flog_2,.flog_3,.flog_4{
			@include bg_icon2;
			display:inline-block;
			width:73px;
			height:77px;
			position:$ps;
			top:-65%;
			right:0;
		}
		.flog_1{
			background-position:0 -74px;
		}
		.flog_2{
			background-position:-74px -74px;
		}
		.flog_3{
			background-position:-148px -74px;
		}
		.flog_4{
			background-position:-222px -74px;
		}
	}

}
.otherplace_itmes{
	background:#494b5a;
	h3{
		height:48px;
		line-height:48px;
		text-align:center;
		color:$color_pink;
		border-bottom:#e77773 solid 1px;
		font-size:17px;
	}
	div{
		overflow:hidden;
		margin-top:25px;
		span{
			width:28%;
			height:29px;
			line-height:29px;
			color:$color_white;
			@include border-radius2(20px);
			background:#a2a4b9;
			display:inline-block;
			margin-bottom:16px;
			text-align:center;
			margin-left:3%;
			box-sizing:border-box;

		}
	}
}

.ordertrip_title{
	height:48px;
	line-height:48px;
	text-align:center;
	color:$color_pink;
	font-size:17px;
}
.orderitmes_01{
	background:#f7f7f7;
	border-top:#e1e1e1 solid 1px;
	display:-webkit-box;
	padding:12px 0;
	font-size:16px;
	dt{
		width:100px;
		text-align:right;
		color:#838383;
	}
	dd{
		width: 0;
        -webkit-box-flex: 1;
        color:#adadaf;
        .color_pink{
        	color:$color_pink
        }
	}
}

.orderitmes_02{
	border-top:#e1e1e1 solid 1px;
	background:white;
	padding:12px 18px;
	h4{
		font-size:16px;
		color:#838383;
	}
	.person_messages{
		overflow:hidden;
		div{
			width:50%;
			float:left;
			overflow:hidden;
			color:#acacac;
			line-height:30px;
			@include ellipsis;
			.color_pink{
        	color:$color_pink
        	}
		}
		.w_auto{
			width:100%
		}
	}
}

.totalitmes{
	background:#4c4b5b;
	padding-left:18px;
	border{
		top:#898993 solid 1px;
		bottom:#c2afb1 solid 1px;
	}
	height:40px;
	line-height:40px; text-align:left;
	font-size:24px;
	color:$color_white;
	@include ellipsis;
	.color_pink{
        	color:$color_pink
      }
     .rmb{
     	font-size:14px;
     	margin-left:20px;
     }
}
.trip_choose{
	background: -webkit-linear-gradient(top, #4c4b5b, #393945);
}
.trip_choose dd{
	padding:18px 0;
	background:none;
	border-top:none;
	span.cur{
		background:#fe7e75;
		border:#fe7e75 solid 1px;
		color:$color_white
	}
}
.calendar_hd{
	background:#4c4b5b
}
.calendar_hd h3{
	  width: 0;
	  -webkit-box-flex: 1;
	  text-align: center;
	  font-size: 24px;
	  color: white;
	  font-weight: 500;

}
.calendar_hd div:nth-of-type(1):after{
	background-position:-136px -64px;
	margin-top:12px;
}
.calendar_hd div:nth-of-type(2):after{
	content:" ";
    @include bg_icon1;
    height:20px;
    width:16px;
    position:$ps;
    margin:10px 0 0 8px;
	background-position:-136px -64px;
	margin-top:12px;
	transform:rotate(-180deg);
	-webkit-transform:rotate(-180deg);
}

.mod_cal{
	overflow:hidden;
	li:nth-of-type(1),li:nth-of-type(7n+1),li:nth-of-type(7n){
		width:15%
	}
	li{
		width:14%;
		float:left;
		height:35px;
		line-height:35px;
		text-align:center;
		border-right:white solid 1px;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
	}
}
.week_cal{
	li{
		background: -webkit-linear-gradient(top, #a1a6ba, #a3a5ba);
		color:$color_white;
	}
}
.day_cal{
	li{
		background: #f0f0f2;
		height:47px;
		line-height:47px;
		font-size:32px;
		color:#989897
	}
	li.cur{
		background:#fe7e75;
		color:$color_white
	}
	li.notdo{
		color:#d8d8d8
	}
	li.even{
		background:#e1e1e1
	}
}
.choose_day{
	background:#a1a6ba;
	line-height:35px;
	text-align:center;
	font-size:20px;
	color:$color_white
}
.mod_choose{
	width:90%;
	margin:16px auto 0 auto;
	h4{
		background:#fe7e75;
		line-height:35px;
		font-size:19px;
		color:$color_white;
		padding-left:15px;
	}

}

.choose_city{
	background:#f0f0f2;
	padding:14px;
	color:#ababad;
	p{
		margin-bottom:5px;
	}
	div{
		span{
			display:inline-block;
			margin-right:5px;
			font-size:14px;
		}
	}
}
.person_box{
	display:-webkit-box;
	height:45px;
	margin:21px 0;
	.person_title{
		width:110px;
		text-align:center;
		line-height:45px;
		font-size:20px;
		color:#adadaf;
	}
	.person_title.title_2{
		line-height:22px;
	}
	.change_nums{
		width: 0;
	  -webkit-box-flex: 1;
	  .cur_nums{
	  	width: 72%;
	  	padding:0 14%;
	  	position:$pr;
	  	display:inline-block;
	  	text-align:center;
	  	line-height:45px;
	  	font-size:29px;
	  	color:#adadaf;
	  	.minus_nums,.plus_nums{
	  		position:$ps;
	  		width:45px;
	  		height:45px;
	  		border-radius:23px;
	  		display:inline-block;
	  		background:#acacae;
	  	}
	  	.minus_nums{
	  		left:0
	  	}
	  	.minus_nums:after{
			content: "";
			height: 2px;
			width: 16px;
			background-color: #fff;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate3d(-50%,-50%,0);
			transform: translate3d(-50%,-50%,0);
	  	}
	  	.plus_nums{
	  		right:0
	  	}
	  	.plus_nums:after{
		    content: "";
		  width: 16px;
		  height: 2px;
		  background-color: #fff;
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  -webkit-transform: translate3d(-50%,-50%,0);
		  transform: translate3d(-50%,-50%,0);	  		
	  	}
	  	.plus_nums:before{
		    content: "";
		  width: 2px;
		  height: 16px;
		  background-color: #fff;
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  -webkit-transform: translate3d(-50%,-50%,0);
		  transform: translate3d(-50%,-50%,0);	  		
	  	}
	  }
	}
}

.mod_news h4{
	height:34px;
	line-height:34px;
	background:#acacae;
	padding-left:25px;
	color:#fff;
	border:{
		bottom:#d9d9d9 solid 1px;
		top:#bcbcbc solid 1px;
	}
}

.news_box{ 
	padding:0 25px;
	background:#f7f7f7;
	ul{
		padding:20px 0;
		li{
			border-bottom:#e1e1e1 solid 1px;
			display:-webkit-box;
			label{
				width:90px;
				display:block;
				line-height:30px;
				position:$pr;
				color:#b7b7b7;
			}
			input{
			width: 0;
		  -webkit-box-flex: 1;
		  display:block;
		  line-height:30px;
		  -webkit-appearance:none;
		  border:0;
		  background:none;

			}
		}
	}
}

.selt_box{
	-webkit-appearance:none;
	background:none;
	border:0;
	color:#b7b7b7;
}
.selt_icon{
	@include bg_icon1;
    height:22px;
    width:22px;
    position:$ps;
    margin:4px 0 0 8px;
	background-position:-136px -88px;	
}
.know_more{
	overflow:hidden;
	background:#f7f7f7;
	div{
		margin:15px;
	height:40px;
	background:#a1a6ba;
	color:$color_white;
	font-size:19px;
	line-height:40px;
	text-align:center;
	}
}

.tk_tips{
	text-align:center;
	line-height:60px;
	border-top:#e0e2e1 solid 1px;
	background:#f7f7f7;
	label{
		font-size:18px;
		color:#adadaf;
		input{
				width:50%;
				text-align:center;
				-webkit-appearance: none;
				  appearance: none;
				  position: relative;
				  width: 15px;
				  height: 15px;
				  background: #979797;
				  border: none;
				  color: #fff;
				  cursor: pointer;
				  display: inline-block;
				  outline: none;
				  position: relative;
				  border:white solid 1px;
				  @include border-radius2(7.5px);
				  margin-left:10px;

			}
			input:checked{
				background:#fd7d74;
			}
	}
}

.color_pink{
	color:$color_pink
}

.city_icon{
	@include bg_icon1;
    height:15px;
    width:35px;
	background-position:-136px 0;
	display:inline-block
}