//文字超出显示...
@mixin ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin clearfix {
    &:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
    }
}

$orange: #b9a988;