.mod_app {
    @include page($name: app, $clapp: #6abce2, $clweb: #6bbde3);

    .app_detail {
        padding: 0 20px;
        .t_text {
            width: 100%;
            margin-bottom: 10px;
            @include text-shadow();

            h3 {
                font-size: 18px;
                line-height: 20px;
                text-align: center;
                margin-bottom: 10px;
            }
            div {
                font-size: 12px;
                line-height: 20px;
            }
        }

        .t_link {
            padding: 0 20px;
            margin-bottom: 10px;
            display: -webkit-box;
            -webkit-box-pack: justify;
            p {
                width: 100px;
                img {
                    width: 100%;
                }
            }
            div {
                width: 120px;
                a {
                    display: block;
                    &:nth-child(1) {
                        margin-bottom: 10px;
                    }
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .app_img {
        -webkit-box-flex: 1;
        height: 100%;
        display: block;
    }
}