.view_app {

    .mod_header {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 100;

        width: 100%;
        height: 50px;

        @include box();
        @include box-pack();
        
        .t_logo {
            padding: 10px;
            width: 30px;
            text-align: center;
            line-height: 20px;
            img {
                width: 100%;
                display: block;
            }
        }
        .t_menu {
            width: 50px;
            height: 50px;

            div {
                width: 25px;
                height: 35px;
                margin: 0 auto;
                padding-top: 10px;
                img {
                    width: 100%;
                }
            }
            ul {
                position: absolute;
                right: 10px;
                top: 44px;

                background: rgba(0, 0, 0, 0.8);
                width: 100px;

                display: none;

                @include border-radius(5px);

                &.show {
                    display: block;
                }

                &:before {
                    content: "";

                    position: absolute;
                    top: -10px;
                    right: 10px;

                    width: 0;
                    height: 0;
                    overflow: hidden;
                    display: block;

                    border-width: 5px;
                    border-style: solid;
                    border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
                }
                // display: none;
                li {
                    line-height: 40px;
                    color: #fff;
                    text-indent: 10px;
                    border-bottom: 1px solid #666;
                    &:last-child {
                        border: 0;
                    }
                    a {
                        display: block;
                        color: #fff;
                    }
                }
            }
        }
    }

    .mod_footer {
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 100;

        width: 100%;
        height: 60px;
        background: rgba(0, 0, 0, 0.6);
        display: none;

        div {
            text-align: center;
            line-height: 30px;
            a {
                color: #fff;
                display: inline-block;
                margin: 0 10px;
            }
        }
        p {
            font-size: 12px;
            text-align: center;
            img {
                width: 20px;
            }
        }
    }


    .mod_body {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;

        display: block;
    }

    .mod_tbody {
        position: absolute;
        left: 0;
        top: 0;

        width: 100%;
    }

    .mod_video,
    .mod_app,
    .mod_detail,
    .mod_pdf,
    .mod_about,
    .mod_msg {
        display: block;
        position: relative;
    }

    .mod_wrapper {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;

        height: 100%;
        width: 100%;
        color: #000;

        // @include box();
    }

    .mod_video {
        // display: block;

        .mod_wrapper {
            color: #fff;
            background: url(images/bg_app_video.jpg) no-repeat 0 bottom #82b6db;
            background-size: 100% auto;

            .video_text {
                padding-top: 70px;

                text-align: center;
                h3 {
                    font-size: 16px;
                    line-height: 50px;
                }
                div {
                    padding: 10px 0;
                    line-height: 20px;
                    margin-bottom: 10px;
                }
            }

            .video_play {
                @include box-flex();
                text-align: center;

                img {
                    width: 90%;
                }
            }
        }
    }

    .mod_app {
        .mod_wrapper {
            background: url(images/bg_app_app.jpg) no-repeat 0 bottom #6abce2;
            background-size: 100% auto;

            @include box();
            @include box-orient();

            .t_text {
                padding-top: 70px;
                text-align: center;
                h3 {
                    line-height: 30px;
                }
                div {
                    line-height: 20px;
                    font-size: 12px;
                }
            }

            .t_link {
                height: 100px;
                padding: 10px;
                @include box();
                @include box-align();
                @include box-pack($type: center);
                p {
                    width: 100px;
                    height: 100px;
                    margin-right: 10px;
                    img {
                        width: 100%;
                    }
                }
                div {
                    width: 100px;
                    margin-left: 10px;
                    a {
                        display: block;
                        width: 130px;
                        &:nth-child(1) {
                            margin-bottom: 10px;
                        }
                        img {
                            width: 100%;
                        }
                    }
                }
            }

            .t_img {
                position: relative;
                @include box-flex();
                div {
                    position: absolute;
                    left: 0;
                    top: 0;

                    width: 100%;
                    height: 100%;
                    text-align: center;

                    img {
                        height: 100%;
                        margin: 0 auto;
                    }
                }
            }
        }
    }


    .mod_detail {

        .mod_wrapper {
            background: url(images/bg_app_detail.jpg) no-repeat 0 bottom #3fa1ea;
            background-size: 100% auto;

            @include box();
            @include box-orient();

            .t_text {
                padding-top: 70px;
                text-align: center;
                line-height: 20px;
            }

            .t_slide {
                position: relative;
                @include box-flex();

                ul {
                    position: absolute;
                    left: 0;
                    top: 0;
                    
                    height: 100%;
                    
                    @include box();

                    li {
                        width: 0;
                        text-align: center;
                        display: block;
                        position: relative;

                        @include box-flex();

                        div {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;

                            @include box-y();

                            p {
                                padding-top: 20px;
                                display: block;
                                line-height: 16px;
                                margin-bottom: 10px;
                                font-size: 12px;
                            }
                            img {
                                height: 100%;
                                @include box-flex();
                            }
                        }
                    }
                }
            }


            .t_pointer,
            .t_pointer_bg {
                position: absolute;
                left: 50%;
                bottom: 10px;
                z-index: 101;

                text-align: center;

                width: 60px;
                font-size: 0;
                margin-left: -25px;
                    
                    @include box();
                    @include box-pack();
                
                p {
                    width: 10px;
                    height: 10px;

                    @include border-radius(10px);
                }

                &.t_pointer_bg {
                    @include box();
                    @include box-pack();
                    p{
                        display: block;
                        background: rgba(0, 0, 0, 0.6);
                    }
                }

                &.t_pointer p {
                    display: block;
                    background: rgba(0, 0, 0, 0.6);
                    &.current {
                        background: rgba(255, 255, 255, 0.9);
                    }
                }
            }
        }
    }


    .mod_pdf {
        .mod_wrapper {
            background: url(images/bg_app_other.jpg) no-repeat 0 bottom #7a89a8;
            background-size: 100% auto;

            overflow: hidden;

            @include box();
            @include box-orient();

            .t_text {
                display: block;
                padding-top: 70px;
                text-align: center;
                margin-bottom: 10px;

                h2 {
                    font-size: 16px;
                    line-height: 20px;
                }
                h3 {
                    font-size: 14px;
                    line-height: 30px;
                }
                p {
                    font-size: 12px;
                    line-height: 16px;
                }
                div {
                    display: none;
                }
            }

            .t_img {
                @include box-flex();
                text-align: center;
                padding-bottom: 60px;

                // @include box();
                // @include box-orient();
                img {
                    // @include box-flex();
                    display: block;
                    // width: 200px;
                    // width: auto;
                    margin: 0 auto;
                }
                div {
                    height: 60px;
                    text-align: left;
                    a {
                        display: block;
                        line-height: 30px;
                        padding-left: 10px;
                        img {
                            width: 25px;
                            display: inline-block;
                            margin-right: 5px;
                            vertical-align: middle;
                        }
                    }
                }
            }

        }
    }



    .mod_about {
        display: block;

        .mod_wrapper {
            background: url(images/bg_app_other.jpg) no-repeat 0 bottom #7a89a8;
            background-size: 100% auto;

            @include box();
            @include box-orient();

            .t_text {
                text-align: center;
                color: #000;
                padding-top: 70px;
                h3 {
                    font-size: 18px;
                    line-height: 50px;
                }
                div {
                    p {
                        font-size: 12px;
                        padding: 5px 10px;
                        line-height: 20px;
                    }
                }
            }
        }
    }


    .mod_msg {
        display: block;

        .mod_wrapper {
            background: url(images/bg_app_other.jpg) no-repeat 0 bottom #7a89a8;
            background-size: 100% auto;

            @include box();
            @include box-orient();

            .t_text {
                padding: 70px 10px 10px;
                line-height: 25px;
                text-align: center;
            }

            .t_textarea {
                padding: 10px;
                div {
                    border: 1px solid #f8f8f8;
                    padding: 10px;
                    background: rgba(0,0,0,0.1);
                    @include border-radius(5px);
                    textarea {
                        border: 0;
                        height: 100px;
                        width: 100%;
                        background: none;
                        outline: none;
                        color: #fff;
                        -webkit-box-sizing: border-box;
                    }
                }
                p {
                    line-height: 30px;
                    font-size: 12px;
                    color: #000;
                }
            }

            .t_btn {
                width: 120px;
                line-height: 40px;
                height: 40px;
                text-align: center;
                margin: 0 auto;
                color: #fff;
                background: #fd8c40;
                @include border-radius(5px);
            }
        }
    }
}




.mod_weixin {
    color: #000;
    padding: 110px 40px 0;
    background: url(images/logo.png) no-repeat center 40px;
    h1 {
        line-height: 50px;
    }
    article {
        line-height: 20px;
        margin-bottom: 50px;
    }
    ul {
        text-align: center;
        li {
            width: 120px;
            margin: 0 auto;
            margin-bottom: 20px;
            height: 40px;
            &:nth-child(1) {
                background: url(images/ios.png) no-repeat 0 0;
                background-size: 100% 100%;
            }
            &:nth-child(2) {
                background: url(images/android.png) no-repeat 0 0;
                background-size: 100% 100%;
            }
        }
    }
}


.mod_mask {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    &:before {
        content: "";
        width: 40px;
        height: 40px;
        background: url(images/click.png) no-repeat right 0;
        background-size: auto 100%;

        position: absolute;
        right: 10px;
        top: 10px;
    }

    div {
        position: absolute;
        right: 10px;
        top: 60px;
        padding: 10px;
        line-height: 20px;

        background: rgba(0, 0, 0, 0.7);
        -webkit-border-radius: 5px;
    }
}